h1{
  text-align: center;
  margin: 30px 0;
}
.container{
  height: 70vh;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.input-btn{
  width: 130px;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: palevioletred;
  color: black;
  margin: 30px;

}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table tr{
  border-spacing: 2px;
  border: 2px solid #333333;
  border-color:palevioletred;}
